.container {
  width: min(80%, 1440px);
  margin: 0 auto;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*, *::before, *::after {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
}

.header {
  margin-top: 3em;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__burger {
  width: 36px;
  height: 24px;
  cursor: pointer;
}
.header__burger--disabled {
  display: none;
}
.header__logo {
  width: 36px;
  height: 24px;
}
@media (min-width: 850px) {
  .header__burger {
    display: none;
  }
  .header__logo {
    width: 48px;
    height: 36px;
  }
}

.nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 75%;
  background-color: white;
  opacity: 0.9;
  height: 100%;
  font-size: 1.2rem;
}
.nav__list {
  margin: 6rem 0 0 1.5rem;
}
.nav__list-item + .nav__list-item {
  margin-top: 1rem;
}
.nav--disabled {
  visibility: hidden;
  height: 0;
}
.nav__close {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0.8em;
  right: 0.5em;
  cursor: pointer;
}
.nav__link {
  color: hsl(240deg, 100%, 5%);
}
.nav__link:hover {
  cursor: pointer;
  transition: color 250ms ease-out;
  color: hsl(5deg, 85%, 63%);
}
@media (min-width: 850px) {
  .nav {
    position: relative;
    visibility: visible;
    height: auto;
    width: auto;
  }
  .nav__list {
    margin: 0;
    display: flex;
  }
  .nav__list-item + .nav__list-item {
    margin: 0;
    margin-left: 1rem;
  }
  .nav__close {
    display: none;
  }
  .nav__link {
    font-size: 0.9rem;
    color: hsl(236deg, 13%, 42%);
  }
}

.news {
  margin-top: 3rem;
}
.news__img-desktop {
  display: none;
}
.news__title {
  margin: 0.5rem 0;
  line-height: 0.975;
}
.news__hot {
  background-color: hsl(240deg, 100%, 5%);
  padding: 0.75em;
  margin: 5rem 0;
}
.news__hot-title {
  color: hsl(35deg, 77%, 62%);
}
.news__blog-title:hover {
  cursor: pointer;
  transition: color 250ms ease-out;
  color: hsl(35deg, 77%, 62%);
}
@media (min-width: 850px) {
  .news__container {
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
  .news__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    line-height: 1.1;
  }
  .news__img-mobile {
    display: none;
  }
  .news__img-desktop {
    display: block;
    grid-column: span 2;
  }
  .news__hot {
    grid-column: span 2;
    display: flex;
    gap: 1rem;
    margin: 0;
    display: flex;
  }
  .news__hot-title {
    align-self: center;
    margin: 0;
  }
  .news__hot-blogs {
    display: flex;
    gap: 0.5rem;
    flex-grow: 1;
    justify-content: space-between;
  }
  .news__blog-delimiter {
    width: 1px;
    height: 100%;
  }
  .news__blog-text {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .news__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .news__img-desktop {
    grid-column: span 2;
  }
  .news__hot {
    grid-area: 1/3/3/4;
    margin: 0;
    flex-direction: column;
  }
  .news__hot-title {
    align-self: flex-start;
    margin: 0;
  }
  .news__hot-blogs {
    flex-direction: column;
  }
  .news__blog-delimiter {
    width: 100%;
    height: 1px;
  }
}

.blogs {
  counter-reset: blogs;
  margin: 3rem 0;
}
.blogs__blog {
  display: flex;
  justify-content: space-between;
}
.blogs__blog + .blogs__blog {
  margin-top: 2rem;
}
.blogs__img {
  width: 40%;
  object-fit: cover;
}
.blogs__textbox {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.blogs__textbox::before {
  counter-increment: blogs;
  content: counter(blogs);
  font-size: max(5vw, 5vh);
  opacity: 0.3;
}
.blogs__blog-title {
  margin-bottom: 0.5rem;
}
.blogs__blog-title:hover {
  cursor: pointer;
  transition: color 250ms ease-out;
  color: hsl(5deg, 85%, 63%);
}
.blogs__blog-text {
  margin: 0;
}
@media (min-width: 850px) {
  .blogs__container {
    display: flex;
    gap: 0.5rem;
  }
  .blogs__blog + .blogs__blog {
    margin: 0;
  }
}

.title {
  font-weight: 800;
}
.title--white {
  color: hsl(36deg, 100%, 99%);
}

.button {
  padding: 0.85em 1.5em;
  color: hsl(36deg, 100%, 99%);
  background-color: hsl(5deg, 85%, 63%);
  letter-spacing: 4px;
  text-transform: uppercase;
  border: none;
  transition: background-color 250ms ease-out;
}
.button:hover {
  cursor: pointer;
  background-color: hsl(240deg, 100%, 5%);
}

.text--white {
  color: hsl(36deg, 100%, 99%);
}
.text--transparent {
  color: hsla(36deg, 100%, 99%, 0.9);
}
.text--grayish {
  color: hsl(236deg, 13%, 42%);
}

/*# sourceMappingURL=main.css.map */
