@use '../abstract';

.blogs {
    counter-reset: blogs;
    margin: 3rem 0;

    &__blog {
        display: flex;
        justify-content: space-between;
    }

    &__blog + &__blog {
        margin-top: 2rem;
    }

    &__img {
        width: 40%;
        object-fit: cover;
    }

    &__textbox {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    &__textbox::before {
        counter-increment: blogs;
        content: counter(blogs);
        font-size: max(5vw, 5vh);
        opacity: 0.3;
    }

    &__blog-title {
        margin-bottom: 0.5rem;
        @include abstract.mixin-hover-text(
            abstract.func-clr(abstract.$color-home-colors, soft-red)
        );
    }


    &__blog-text {
        margin: 0;
    }

    @media (min-width: 850px) {
       &__container {
          display: flex;
          gap: 0.5rem;
        }

        &__blog + &__blog {
            margin: 0;
        }

        
       
    }

}