@font-face {
    font-family: Plus Jakarta Sans, sans-serif;
    src: url(../../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

$default-fs: 16px;

$font-stack: (
    jakarta: (
        medium: (
            family: (Plus Jakarta Sans, sans-serif),
            weight: 500,
            style: normal
        ),
        bold: (
            family: (Plus Jakarta Sans, sans-serif),
            weight: 800,
            style: normal
        )
    )
)