@use '../abstract/typography' as typ;
@use '../abstract/mixins';

*, *::before, *::after {
    box-sizing: border-box;
    margin-top: 0;
}

body {
    margin: 0;
    padding: 0;

    @include mixins.font(inter);
    font-size: typ.$default-fs;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

hr {
    margin: 0;
}